<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script src="/angular/angular.js"></script>
    <script src="index.js"></script>
    <title>FSF Registration</title>
</head>

<body ng-controller="MyCtrl as myCtrl">
    <div class="container">
        <h1>FSF Registration</h1>
        <!--{{myCtrl}}-->
        <form name="MyForm" novalidate ng-submit="myCtrl.submitForm()">
            <!--Form invalid:{{MyForm.$invalid}}-->
            <!--<br> Form dirty{{MyForm.$dirty}}-->

            <!--Email-->
            <div class="form-group" ng-class="{'has-error':MyForm.email.$invalid && MyForm.email.$dirty,
                                              'has-success':!MyForm.email.$invalid && MyForm.email.$dirty}">
                <label for="email">Email: </label>
                <input autofocus class="form-control" type="email" name="email" id="email" ng-model="myCtrl.email" required>
                <span id="helpBlock" ng-if="MyForm.email.$invalid && MyForm.email.$dirty" class="help-block">
                    Invalid Email</span>
            </div>

            <!--Password-->
            <div class="form-group" ng-class="{'has-error':MyForm.password.$dirty&& !myCtrl.isValidPassword(),
                                              'has-success':MyForm.password.$dirty && myCtrl.isValidPassword()}">
                <label for="password">Password: </label>
                <input class="form-control" type="password" name="password" id="password" ng-model="myCtrl.password" required>
                <span id="passwordBlock" ng-if="MyForm.password.$dirty && !myCtrl.isValidPassword()" class="help-block">
                 {{myCtrl.passwordErrMsg}}</span>
            </div>


            <!--Name-->
            <div class="form-group" ng-class="{'has-error':MyForm.name.$invalid && MyForm.name.$dirty,
                                              'has-success':!MyForm.name.$invalid && MyForm.name.$dirty}">
                <!--<label for="name">Name: $invalid {{ MyForm.name.$invalid }}, $dirty: {{ MyForm.name.$dirty }}</label>-->
                <label for="name">Name:</label>
                <input class="form-control" type="text" name="name" id="name" ng-model="myCtrl.name" required>
                <!--{{MyForm.textField.$invalid}}-->
                <span id="nameBlock" ng-if="MyForm.name.$invalid && MyForm.name.$dirty" class="help-block">
                    Invalid username</span>
            </div>



            <!--Gender-->
            <div class="form-group">
                <label for="gender">Gender:</label>
                <label class="radio-inline">
                    <input type="radio" name="male" ng-model="myCtrl.gender" value="male">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="female" ng-model="myCtrl.gender" value="female">Female
                </label>
                <!--<input class="form-control" type="text" name="name" id="name" ng-model="myCtrl.name" required>-->
                <!--{{MyForm.textField.$invalid}}-->
                <!--<span id="helpBlock" ng-if="MyForm.name.$invalid && MyForm.name.$dirty" class="help-block">-->
                <!--Invalid username</span>-->
            </div>



            <!--Date of Birth-->
            <div class="form-group" ng-class="{'has-error':MyForm.date.$dirty && !myCtrl.isValidAge(),
                                              'has-success':MyForm.date.$dirty && myCtrl.isValidAge()}">
                <label for="date">Date of Birth: </label>
                <input class="form-control" type="date" name="date" id="date" ng-model="myCtrl.date" required>
                <span id="dateHelpBlock" ng-if="MyForm.date.$dirty && !myCtrl.isValidAge()" class="help-block">
                    Invalid Date</span>
            </div>

            <!--Address-->
            <div class="form-group" ng-class="{'has-error':MyForm.address.$invalid && MyForm.address.$dirty,
                                              'has-success':!MyForm.address.$invalid && MyForm.address.$dirty}">
                <label for="">Address: </label>
                <input class="form-control" type="text" name="address" id="address" ng-model="myCtrl.address" required>
                <span id="addressHelpBlock" ng-if="MyForm.address.$dirty && MyForm.address.$invalid" class="help-block">
                    Cannot Leave Field Empty</span>

            </div>



            <!--Country-->
            <div class="form-group" ng-class="{'has-error':MyForm.country.$invalid && MyForm.country.$dirty,
                                              'has-success':!MyForm.country.$invalid && MyForm.country.$dirty}">
                <label for="">Country: </label>
                <input class="form-control" type="text" name="country" id="country" ng-model="myCtrl.country" required>
                <span id="countryHelpBlock" ng-if="MyForm.country.$dirty && MyForm.country.$invalid" class="help-block">
                    Cannot Leave Field Empty</span>

            </div>



            <!--Contact Number-->
            <div class="form-group" ng-class="{'has-error':MyForm.contact.$dirty && !myCtrl.isValidContact(),
                                              'has-success':MyForm.contact.$dirty && myCtrl.isValidContact()}">
                <label for="">Contact Number: </label>
                <input class="form-control" type="text" name="contact" id="contact" ng-model="myCtrl.contact" required>
                <span id="contactHelpBlock" ng-if="MyForm.contact.$dirty && !myCtrl.isValidContact()" class="help-block">
                    Invalid Contact</span>
            </div>


            <button type="submit" name="submitButton" ng-disabled="MyForm.$invalid" class="btn btn-primary">Submit</button>

            <!--Display Thank you message from server-->
            <span id="succesHelpBlock" ng-if="myCtrl.result != null" class="help-block">
                   <h1>{{myCtrl.result}} </h1></span>

        </form>

    </div>
</body>

</html>